*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    background-color: #cce6cc;
}

.page-container {
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}

/* ******HEADER****** */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cce6cc;
    height: 9.6rem;
    padding: 0 4.8rem;
    /* margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px; */
}

 .hero-logo {
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    flex: content;
    list-style: none;
}

 
 

.logo {
    height: 2.4rem;
    background-color: #cce6cc;
    
    /* border-radius: %; */
}

.flower {
    font-size: 20px;
    font-style: italic;
    font-family: monospace;
    color: #1a8d1a;
    display: inline;
    justify-content: space-around;
    
}


/* *************************** */



:root {
    --clr:#222327;
}



.nav {
    width: 400px;
    height: 80px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.nav ul {
    display: flex;
    width: 350px;
    margin-top: 40px;
    gap: 3.2rem;
}

.nav ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
  
}

.nav ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    
}

.nav ul li a .icon {
    position: relative;
    display: flex;
    line-height: 75px;
    font-size: 1.8rem;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
    border-radius: 50%;
    color:#ff6a33;
   }

.nav ul li:hover a .icon {
    transform: translateY(-15px);
    box-shadow: 8px 8px 12px rgba(190, 193, 197, 0.877),
    -8px 8px 12px rgba(190, 193, 197, 0.999);
    
}

.nav ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);
    
}

.nav ul li a img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}



.nav ul li:hover a .text {
    opacity: 1;
    transform: translateY(10px);
}

/* *************************** */


/* SECTION */

.hero-about {
    display: grid;
    align-items: center;
    width: 100%;
}

.text {
    margin: 0 auto;
    align-items: center;
    display: grid;
    justify-content: center;
    width: 100%;
}

.text h1 {
    font-size: 40px;
    color: #ff6a33;
    padding-left: 70px;
    
}

.text p {
    font-size: 20px;
    padding-left: 70px;
    line-height: 1.8;
    font-weight: lighter;
    font-family: sans-serif;
    padding-right: 20px;
    color:rgb(22, 22, 22);

}

.img-fw {
    width: 100%;
    display: flex;
    cursor: pointer;
}

.img-fw:hover {
    transition: ease-in-out;
    transform: scale(1.09);
}

.fw-ab {
    margin-top: 50px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 240px;
    margin-right: 180px;
    
}

/* FOOTER */

.footer {
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}


.copy {
    align-items: center ;
    font-size: 15px;
    justify-content: center;
    display: flex;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
/* FOOTER */